body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
body box-sizing border-box :before,
body box-sizing border-box :after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
i {
  color: #ffcc02;
  font-size: 40px;
}
.o-name-1 {
  font-family: 'Marck Script', cursive;
  margin: 0;
}
.o-heading-1 {
  font-size: 2.2em;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}
.o-heading-1:after {
  content: '___';
  color: #ffcc02;
}
.o-button-1 {
  cursor: pointer;
}
.o-button-2 {
  display: none;
}
.o-button-3 {
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50%;
  font-size: 20px;
  position: fixed;
  top: 8px;
  left: 8px;
  z-index: 2;
}
@media only screen and (max-width: 800px) {
  .o-button-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.o-container-1 {
  width: 100%;
  max-width: 1920px;
}
.o-loader-1 {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
}
.o-loader-1__img {
  width: 300px;
  height: 300px;
  -webkit-animation-name: load;
  animation-name: load;
  -webkit-animation-duration: 2.8s;
  animation-duration: 2.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-moz-keyframes load {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) rotate(0deg);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(0.8) rotate(360deg);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.8) rotate(360deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3) rotate(0deg);
  }
}
@-webkit-keyframes load {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) rotate(0deg);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(0.8) rotate(360deg);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.8) rotate(360deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3) rotate(0deg);
  }
}
@-o-keyframes load {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) rotate(0deg);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(0.8) rotate(360deg);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.8) rotate(360deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3) rotate(0deg);
  }
}
@keyframes load {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) rotate(0deg);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(0.8) rotate(360deg);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.8) rotate(360deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3) rotate(0deg);
  }
}
.c-nav-1__active {
  position: fixed;
  width: 100%;
  height: 50px;
  background: #fff;
  -webkit-box-shadow: 1px 12px 22px -8px rgba(0,0,0,0.3);
  box-shadow: 1px 12px 22px -8px rgba(0,0,0,0.3);
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  z-index: 10;
}
@media only screen and (max-width: 800px) {
  .c-nav-1__active {
    display: none;
  }
}
.c-nav-1__img {
  width: 40px;
  height: 40px;
  padding-left: 180px;
}
.c-nav-1 {
  width: 100%;
  height: 50px;
  background: #fff;
  -webkit-box-shadow: 1px 12px 22px -8px rgba(0,0,0,0.3);
  box-shadow: 1px 12px 22px -8px rgba(0,0,0,0.3);
  position: fixed;
  display: none;
}
.c-nav-1__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.c-nav-1__ul {
  padding-right: 160px;
}
.c-nav-1__a {
  text-decoration: none;
  color: #000;
}
.c-nav-1__li {
  display: inline-block;
  padding: 0 16px;
}
.c-nav-2 {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255,204,2,0.8);
  z-index: 2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.c-nav-2__active {
  left: 0;
}
.c-nav-2__ul {
  padding: 0;
}
.c-nav-2__li {
  list-style: none;
  text-align: center;
}
.c-nav-2__a {
  font-size: 2em;
  color: #000;
  text-decoration: none;
}
@-moz-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@-o-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
.c-block-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../images/sebas-baja.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -90px;
  width: 100%;
  height: 100vh;
  min-height: 732px;
  max-height: 900px;
}
@media only screen and (max-width: 800px) {
  .c-block-1 {
    background: #fff;
    min-height: 400px;
  }
}
.c-block-1__cont {
  margin: 0 0 0 14%;
  width: 30%;
  z-index: 1;
}
@media only screen and (max-width: 1024px) {
  .c-block-1__cont {
    margin: 0 0 0 10%;
  }
}
@media only screen and (max-width: 800px) {
  .c-block-1__cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0,0,0,0.4);
  }
}
@media only screen and (max-width: 800px) {
  .c-block-1__cont div {
    width: 412px;
    text-align: center;
  }
}
@media only screen and (max-width: 414px) {
  .c-block-1__cont div {
    width: 360px;
  }
}
@media only screen and (max-width: 375px) {
  .c-block-1__cont div {
    width: 300px;
  }
}
.c-block-1__title {
  font-size: 4.6em;
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (max-width: 414px) {
  .c-block-1__title {
    font-size: 3.8em;
  }
}
@media only screen and (max-width: 375px) {
  .c-block-1__title {
    font-size: 3.2em;
  }
}
.c-block-1__img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 100%;
}
@media only screen and (max-width: 800px) {
  .c-block-1__img {
    display: block;
    width: 600px;
  }
}
@media only screen and (max-width: 600px) {
  .c-block-1__img {
    width: 400px;
  }
}
@media only screen and (max-width: 414px) {
  .c-block-1__img {
    width: 100%;
    height: 90%;
  }
}
.c-block-1__scroll {
  position: absolute;
  top: 86%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-animation-name: movement;
  animation-name: movement;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  z-index: 2;
}
@media only screen and (max-width: 800px) {
  .c-block-1__scroll {
    top: 76%;
  }
}
.c-block-1__scroll a i {
  font-size: 60px;
}
.c-block-2 {
  display: block;
  text-align: center;
  padding: 40px 0 0 0;
  width: 100%;
  height: 100vh;
  min-height: 732px;
  max-height: 900px;
}
@media only screen and (max-width: 1024px) {
  .c-block-2 {
    height: 760px;
  }
}
@media only screen and (max-width: 800px) {
  .c-block-2 {
    height: 1520px;
    max-height: 1520px;
  }
}
@media only screen and (max-width: 414px) {
  .c-block-2 {
    height: 1200px;
    max-height: 1200px;
  }
}
.c-block-3 {
  width: 100%;
  height: 100vh;
  min-height: 732px;
  padding: 40px 0 0 0;
  max-height: 900px;
}
@media only screen and (max-width: 1024px) {
  .c-block-3 {
    height: 760px;
  }
}
@media only screen and (max-width: 800px) {
  .c-block-3 {
    height: 1200px;
    max-height: 1200px;
  }
}
@media only screen and (max-width: 480px) {
  .c-block-3 {
    height: 1000px;
    max-height: 1000px;
  }
}
@media only screen and (max-width: 414px) {
  .c-block-3 {
    height: 820px;
    max-height: 820px;
  }
}
.c-block-4 {
  width: 100%;
  height: 100vh;
  min-height: 732px;
  max-height: 900px;
  padding: 40px 0 0 0;
}
@media only screen and (max-width: 1024px) {
  .c-block-4 {
    height: 760px;
  }
}
@media only screen and (max-width: 800px) {
  .c-block-4 {
    height: 1000px;
    max-height: 1000px;
  }
}
.c-block-4__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
@media only screen and (max-width: 800px) {
  .c-block-4__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.c-block-4__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 4.6em;
  width: 460px;
  height: 500px;
}
@media only screen and (max-width: 1024px) {
  .c-block-4__title {
    margin: 0 0 0 20px;
  }
}
@media only screen and (max-width: 800px) {
  .c-block-4__title {
    text-align: center;
    height: 300px;
    margin: 0 0 0 0;
  }
}
@media only screen and (max-width: 414px) {
  .c-block-4__title {
    font-size: 4em;
  }
}
@media only screen and (max-width: 375px) {
  .c-block-4__title {
    font-size: 3.2em;
  }
}
.c-block-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 60px 0;
  background-color: #222;
  color: #fff;
  width: 100%;
  height: 165px;
}
.c-block-5__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 200px;
}
@-moz-keyframes movement {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
@-webkit-keyframes movement {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
@-o-keyframes movement {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
@keyframes movement {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.c-form-1 {
  width: 600px;
  height: 600px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .c-form-1 {
    height: 400px;
  }
}
.c-form-1__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media only screen and (max-width: 414px) {
  .c-form-1__form {
    width: 300px;
  }
}
.c-form-1__input {
  padding: 3px;
  height: 40px;
  border-radius: 5px;
  border-width: 0.5px;
  color: #808080;
  border-style: solid;
  margin-bottom: 5px;
  outline-color: #ffcc02;
}
.c-form-1__textarea {
  color: #808080;
  margin-top: 40px;
  border-radius: 5px;
  outline-color: #ffcc02;
}
.c-form-1__button {
  font-size: 1.5em;
  border-radius: 5px;
  margin-top: 10px;
  height: 30px;
  background-color: #fff;
  border-width: 1px;
  outline: 0;
}
.c-form-1__button:hover {
  background-color: #ffcc02;
}
.c-form-1__icon {
  color: #808080;
  font-size: 20px;
}
.c-list-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 600px;
}
@media only screen and (max-width: 800px) {
  .c-list-1 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.c-list-1__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0px 5px 22px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 22px 0px rgba(0,0,0,0.3);
  cursor: pointer;
}
.c-list-1__item:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 1024px) {
  .c-list-1__item {
    width: 320px;
    height: 320px;
  }
}
@media only screen and (max-width: 800px) {
  .c-list-1__item {
    width: 420px;
    height: 420px;
    margin: 0 0 20px 0;
  }
  .c-list-1__item:last-child {
    margin-bottom: 0;
  }
  .c-list-1__item:first-child {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 414px) {
  .c-list-1__item {
    width: 330px;
    height: 330px;
  }
}
@media only screen and (max-width: 375px) {
  .c-list-1__item {
    width: 320px;
    height: 320px;
  }
}
@media only screen and (max-width: 330px) {
  .c-list-1__item {
    width: 300px;
    height: 300px;
  }
}
.c-list-1__content {
  width: 90%;
}
@media only screen and (max-width: 375px) {
  .c-list-1__title {
    font-size: 0.9em;
  }
}
.c-list-1__p {
  display: none;
}
.c-list-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .c-list-2 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.c-list-2__item {
  position: relative;
  width: 100%;
  height: 500px;
  z-index: 1;
  cursor: pointer;
}
@media only screen and (max-width: 800px) {
  .c-list-2__item {
    margin-bottom: 20px;
  }
  .c-list-2__item:last-child {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 480px) {
  .c-list-2__item {
    width: 90%;
    height: 400px;
  }
}
@media only screen and (max-width: 480px) {
  .c-list-2__item {
    height: 300px;
  }
}
.c-list-2__title {
  font-size: 2em;
}
.c-list-2__img {
  width: 100%;
  height: 100%;
}
.c-list-2__content {
  position: absolute;
  top: 0;
  background-color: rgba(255,204,2,0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #fff;
}
.c-list-2__content:hover {
  background-color: rgba(0,0,0,0.2);
}
.c-list-3 {
  background: rgba(255,255,255,0.8);
  padding: 20px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: #000;
  text-align: left;
  font-size: 3em;
  z-index: 15;
  display: none;
}
@media only screen and (max-width: 800px) {
  .c-list-3 {
    padding: 20px 40px;
  }
}
.c-list-3__item {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
}
@media only screen and (max-width: 800px) {
  .c-list-3__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.c-list-3__item i {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 30px;
}
@media only screen and (max-width: 480px) {
  .c-list-3__title {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 480px) {
  .c-list-3__title--2 {
    font-size: 0.7em;
  }
}
@media only screen and (max-width: 800px) {
  .c-list-3__p {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 480px) {
  .c-list-3__p {
    padding: 0;
    font-size: 0.6em;
  }
}
@media only screen and (max-width: 800px) {
  .c-list-3__ul {
    display: inline;
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 480px) {
  .c-list-3__ul {
    padding: 0;
    font-size: 0.6em;
  }
}
@media only screen and (max-width: 800px) {
  .c-list-3__ul li {
    display: inline;
    padding: 0 10px;
  }
}
@media only screen and (max-width: 375px) {
  .c-list-3__ul li {
    padding: 0px 10px;
  }
}
.c-list-3__content-2 img {
  width: 100%;
  min-width: 460px;
}
@media only screen and (max-width: 800px) {
  .c-list-3__content-2 img {
    width: 460px;
    min-width: 300px;
  }
}
@media only screen and (max-width: 480px) {
  .c-list-3__content-2 img {
    width: 400px;
  }
}
@media only screen and (max-width: 375px) {
  .c-list-3__content-2 img {
    width: 300px;
  }
}
@media only screen and (max-width: 330px) {
  .c-list-3__content-2 img {
    width: 280px;
  }
}
.c-list-3__content-1 {
  width: 100%;
}
.c-list-3__content-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

/*# sourceMappingURL=global.css.map */