
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
   
  }

 
.container{
    max-width: 1920px;
}
.menu{
    width: 100%;
        height: 50px;
        background: #ffffff;
        -webkit-box-shadow: 1px 12px 22px -8px rgba(0,0,0,0.3);
      -moz-box-shadow: 1px 12px 22px -8px rgba(0,0,0,0.3);
      box-shadow: 1px 12px 22px -8px rgba(0,0,0,0.3);
        position: fixed;
        opacity: 0;
        animation-name: slideDown;        
        animation-duration: 1s;
        

      
        
       
        
 
}
nav{
    display:flex;
    float: right;
   
    margin-right: 100px;
}
nav img{
    margin-right: 600px;
}
 nav ul li{
     
    display: inline;
    padding: 20px;
    
    
}
 nav ul a{
     color: black;
text-decoration: none;
    }



.coverPage{
    width: 100%;
    height: 740px;
    background-image: url('../img/sebas-baja.jpg');
    background-size: cover;
    background-position-x: -80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
   
    

} 
.containerCover{      
    
    width: 680px;
    height: 600px;
    text-align: left;
    margin-left: 40px;
    
    
}


.containerCover h1  {
   font-size: 1.6em;
    margin: 120px 20px 20px 160px;
    font-family: 'Marck Script', cursive;
    
    

    
}

.scrollCover{
    margin: 0;
    padding: 0;
    color: grey;
    position: absolute;
    top: 670px;
    left: 0;
    right: 0;
   text-align: center;   
    z-index: 9;
}
.scrollSign{
    animation-name: sign;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
.scrollCover h3{
    margin: 0;
}

.txtTitle {
    margin: 0;
    font-size: 4.6em;   
    margin-left: 160px;
    font-weight: 700;
}
.txtText{
    font-size: 1.2em;
    margin-left: 160px;
    width: 400px;
}
.services{
    width: 100%;
    height: 740px;
    padding: 100px 0 100px 0;
    
}

.services h1{
    padding-bottom: 40px;
}
.headerServ{
    
      
    text-align: center;
    
  
    
}
.headerServ p{
    margin: 0;
    font-size: 1.5em;
    margin-bottom: 80px;
    color: grey;
    
}
.contentServ{
    display: flex;
    justify-content: center;
    align-items: center;
    
   
   
    
}
.serv{

width: 400px;
height: 400px;
cursor: pointer;
margin-left: 10px;
display: flex;
justify-content: center;
align-items: center;
-webkit-box-shadow: 0px 5px 22px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 5px 22px 0px rgba(0,0,0,0.3);
box-shadow: 0px 5px 22px 0px rgba(0,0,0,0.3);
}

.serv div{
    text-align: center;
   
}

.infoServ{
  display: none;
  text-align: center;
  width: 350px;
   
   
}

i{
    font-size: 60px;
    color: #ffcc02;
}
.serv:last-child{
    margin-right:0; 
}
.titles{
    font-size: 2.2em;
    text-align: center;
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 700;

}
.titles::after{
    content: '___';
    color: #ffcc02;
}

.work{

    margin: 0;    
    /* background: #ffcc02; */
    width: 100%;
    height: 740px;
    padding: 0 0 0 0;
}
.works{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    
   
}
.work h1{
      
   padding: 80px 0 40px 0;
}

.work-1{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
     background-image: url('../img/psiquinet.jpg');
     background-size: cover;
    
 
    height: 500px;
    width: 500px;
    
transition: .3s;

}
.work-1:hover{
    transform: scale(1.03);   
    z-index: 3;    
}
.work-1:hover .post-overlay{
    display: flex;
}
.work-2{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url(../img/fondeprol.jpg);
    background-size: cover;
    background-position-x: -150px;
    height: 500px;
    width: 500px;
   
    transition: .3s;
}
.work-2:hover .post-overlay{   
    display: flex;    
}
.work-2:hover{
    transform: scale(1.03);    
    z-index: 3; 
    
}
.work-3{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/usd.jpg);
    background-size: cover;
    background-position-x: -100px;
    height: 500px;
    width: 500px;
   
    transition: .3s;
    
}
.work-3:hover{
    transform: scale(1.03);    
    z-index: 3;
    
	
	
}
.work-3:hover .post-overlay{

    display: flex;
}
.post-overlay{
	background: rgba(255, 204, 2, .4);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: none;
	align-items: center;
	justify-content: center;
	color: white;
    text-align: left;
    font-size: 3em;
    
    

}
.exitOverlay{
    cursor: pointer;
    float: right;
    color: #222;
    font-size: .8em;
    padding: 30px 30px 0 0; 
}


.contact{
    height: 740px;
    width: 100%;
    background-image: url(../img/backgroundC.png);
    background-size: cover;
   
    padding: 60px 0 100px 0;
}
.containerContact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact h1{    
   padding: 40px 0 0 0;
}
.textContact{
    
    height: 600px;
    width:600px;
    display: flex; 
    justify-content: center;    
    justify-items: center;
    text-align: left;
    font-size: 4.6em; 
    margin: 0;  
    
}
.textContact p {
    width: 460px;
    font-weight: 700;
        
}
.formContact{
  
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formContact form{    
   margin: 0; 
   height: 500px;
   width: 500px;
   margin-top: 60px; 
   
}
.formContact  input{
   font-size: 1em;
    height: 30px;
    display: block;
    margin-bottom: 2px;
    width: 97%;
    border-radius: 6px;
    border: 0.6px solid lightgrey;
    padding: 5px;
    
      
}
textarea:focus, input:focus, input[type]:focus {
    border-color: #ffcc02;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255,204,2,0.6);
    outline: 0 none;
}
.formContact textarea{
    padding: 5px;
    font-size: 1em;
    margin-top:40px; 
    width: 97%;
    border-radius: 6px;
    border: 1px solid lightgrey;
}
.formContact button{
    border-radius: 6px;
    font-size: 2em;
    padding: 10px;
    width: 100%;
    border: 1px solid lightgrey;
    transition: .3s;
    
    
}
.formContact button:hover{
    background: #ffcc02;
}


.footer{
    color: white;
    text-align: center;
    height: 165px;
    padding: 60px;
    background-color: #222;
}
.footer h1{
    font-family: 'Marck Script', cursive;

}
.socialMedia i{
    padding-left: 10px;
    font-size: 30px;
}
#loader {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #ffffff;
    
}
#loader img{
    width: 300px;
    height: 300px;
    animation-name: load;
    animation-duration: 2.8s;
    animation-iteration-count: infinite;
    }

    .work1-overlay, .work2-overlay, .work3-overlay{
        background: rgba(255, 255, 255, 0.8);
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: none;        
        color: white;
        text-align: left;
        font-size: 3em;
        z-index: 15; 
             
    
    }
    .containerOverlay{
        color: black;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        
      
    }
    .containerTextW{ 
        font-size: 0.4em; 
        width: 450px;
        padding: 0 0 0 30px;
        
       
       
    }

    .containerImgW{
        padding: 100px 0 0 0; 
        width: 900px;
        height: 500px;
        
       
    }
    .containerImgW img {
        width: 100%;
        height: 100%;
    }

    @keyframes load{
        0%{
            opacity: 0;
            transform: scale(.3) rotate(0deg);
        }
        30%{
            opacity: 1;
            transform: scale(.8) rotate(360deg);
        }
        80%{
            opacity: 1;
            transform: scale(.8) rotate(360deg);
        }
        100%{
            opacity: 0;
            transform: scale(.3) rotate(0deg);
        }
    }


    .slideUp {
        
        position: fixed;
  
        width: 100%;
        height: 50px;
        background: #ffffff;
        -webkit-box-shadow: 1px 12px 22px -8px rgba(0,0,0,0.3);
      -moz-box-shadow: 1px 12px 22px -8px rgba(0,0,0,0.3);
      box-shadow: 1px 12px 22px -8px rgba(0,0,0,0.3);
        animation-name: slideUp;
        -webkit-animation-name: slideUp;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        visibility: visible;
        z-index: 10;
    }
    
    @keyframes slideUp {
        0% {
            opacity: 0;
            -webkit-transform: translateY(70%);
        } 
        100% {
            opacity: 1;
            -webkit-transform: translateY(0%);
        }
    }
    
    
    
    @keyframes slideDown {
        0% {
            opacity: 1;
            -webkit-transform: translateY(0%);
        } 
        100% {
            opacity: 0;
            -webkit-transform: translateY(70%);
        }
    }

    @keyframes sign{
        0%{
            -webkit-transform: translateY(0%);
        }
        50%{
            -webkit-transform: translateY(20%);
        }
        100%{
            -webkit-transform: translateY(0%);

        }

        
        }

    
    
    
    




